/*The page isn't gonna style itself :D*/
p.moveinfo{
  display: block;
}

input.evs {
  width: 4em;
  border-radius: 4px;
  border: 1px solid #bbb;
  text-align: center;
  padding: 3px;
  box-shadow: inset 0 0 8px #EAEAEA;
}
